/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%; 
     font-family: 'Amiri', serif;
}
body {
     background: linear-gradient(180deg, rgb(209, 214, 213), rgb(255, 255, 255));
}
h1 {
     font-size: 6rem;
     font-weight: 700;
     padding:0 0 2rem ;
}
h2 {
     font-size: 4rem;
     font-weight: 700;
     padding:0 0 1.5rem;
}
h4 {
     font-size:2.5rem;
}
h5 {
     font-size:2rem;
     color: orange;
     padding:0 0 1rem;
}
p {
     font-size:1.8rem;
     padding: 0 0 1rem;
}
a {
     font-size:1.8rem;
     text-decoration: none;
     color: black;
     padding: 0 0 1rem;
}
ul {
     margin:0;
}

/******************************************
/* Header
/*******************************************/

/* base */
header {
     background: linear-gradient(0deg, rgb(29, 29, 29), rgb(55, 55, 55));
}
header div.logo {
     background:url('../img/logo.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: 10rem;
     font-size: 4rem;
     font-weight: 400;
     padding-top:4rem;
     color: #bbc4c2;
     text-align:center;
}


.important-text{
     text-transform:uppercase;
     letter-spacing: 1rem ;
}
span.important-text ~ span{
     display:block;
     color:#7e7c73;
     text-transform:uppercase;
     letter-spacing: 0.6rem ;
     font-size:2.5rem;
     
}

/* nav */
.nav {
     display:flex;
     flex-flow: row nowrap;
     justify-content:space-between;
     padding:2rem 0;

}
.nav-item{
     padding:2rem 4rem;
     color:rgb(224, 202, 143);
     font-size:2rem;
     letter-spacing: 0.5rem;
     text-transform: uppercase;
}
.nav-item:hover{
     background: linear-gradient(0deg, rgb(224, 202, 143), rgb(225, 193, 105) );
     color:rgb(29, 29, 29);
}

/******************************************
/* Greeting
/*******************************************/
.greeting {
     display: flex;
     align-items:center;
     background:url('../img/steak-on-grill3.jpg') no-repeat;
     background-size:cover ;
     height:80rem;
}
.greeting > .banner {
     font-size:5rem;
     font-weight: 400;
     letter-spacing: 1rem;
     margin-left:5rem;

}

/******************************************
/* About us
/*******************************************/
.about-us {
     padding:15rem 6rem 15rem  15rem;
     margin-bottom:10rem;
     background:url('../img/food-space.jpg');
     background-size:cover;
     display:flex;
     justify-content:end;
     box-shadow: 0 0.3rem 2rem -0.5rem rgb(29, 29, 29);

}
.about-us > div {
     box-shadow: -0.5rem 0 0.4rem -0.4rem rgb(224, 202, 143);
     border-left: 0.2rem solid rgb(224, 202, 143);
     padding-left: 1rem;
}

/******************************************
/* Menu
/*******************************************/

.menu-wrapper{
     width:100%;
     margin:0 10%;
}

.menu-wrapper > article {
     box-shadow: 0.2rem 0.2rem 2rem -0.5rem rgb(29, 29, 29);
     position: relative;
     display:inline-block;
     margin-right:1%;
     width:20%;

     
}
/* Menu Items */
.overlay {
     display:none;
     position:absolute;
     top:0;
     width:100%;
     height:21.5vw;
     text-align:center;

}
.overlay > h4 {
     text-align:center;
     padding:20% 0;
     color:rgb(187, 196, 194);
     letter-spacing:0.3rem;
}
.overlay > a {
     background:rgb(224, 202, 143, 0.7);
     display:inline-block;
     box-shadow: 0.3rem 0.2rem 0.5rem;
     padding:2% 8%;
     margin-top: 25%;
     color:rgb(29, 29, 29);
     letter-spacing:0.3rem;
}
.menu-wrapper > article > img{
     display:block;
     height:auto;
     width:100%;
     
}

#menu2 {
     display:none;
}

/******************************************
/* Opening hours
/*******************************************/

.resp-img{
     display:block;
     height:auto;
     width:100%;
}

/******************************************
/* Review
/*******************************************/
.review > .profile-pic,
.review > .t-big{
     margin-bottom: 1rem;
}
/******************************************
/* Footerf
/*******************************************/

.footer {
     background: linear-gradient(0deg, rgb(29, 29, 29), rgb(55, 55, 55));
     padding:5rem 2rem 3rem;
}
.footer * {
     color:white;
}
.footer h5 {
     margin-top:2rem;
}
.footer a {
     font-style:italic;
     color:rgb(224, 202, 143);
}
.footer h5 {
     font-size:2rem;
}
/******************************************
/* Modules
/*******************************************/
.indent {
     padding-left:1rem;
}
.gap-1 {
     gap:1rem;
}

.flex-row {
     display:flex;
     flex-flow: row nowrap;
}
.flex-col {
     display:flex;
     flex-flow: column nowrap;
}
.space-between{
     justify-content:space-between;
}
.container {
     max-width:90%;
     padding:5rem;
     background:rgb(244, 244, 242);
     margin:0 auto 10rem;
     box-shadow: 2px 1px 20px -10px rgb(29, 29, 29);
}
/* Misc */
.profile-pic {
     width:64px;
     height:64px;
     border-radius:50%;
     box-shadow:0.2rem 0.2rem 2rem -0.5rem rgb(29, 29, 29);
}
.banner {
     padding:4rem;
     text-align:center;
     color:rgb(187, 196, 194);
     background:rgba(29, 29, 29, 0.8);
}

/*** Colors ***/

/* background colors */
.bg-gray {
     background:rgb(120, 120, 120);
}
.bg-white {
     background:rgb(255, 255, 255);
}
.bg-gold {
     background:rgb(224, 202, 143);
}
.bg-black {
     background:rgb(29, 29, 29);
}
.bg-black-ghost {
     background:rgba(29, 29, 29, 0.5);
}

/* font colors */
.gray {
     color:rgb(120, 120, 120);
}
.white {
     color:rgb(255, 255, 255);
}
.gold {
     color:rgb(224, 202, 143);
}
.black {
     color:rgb(29, 29, 29);
}
.angel{
     color:rgb(187, 196, 194);
}

/*** sizes ***/

/* width */
.w-66 {
     width:66%;
}
.w-50 {
     width:50%;
}
.w-33 {
     width:33%;
}
.w-100 {
     width:100%
}
/*** position ***/

/* margin */
.m-auto {
     margin: 0 auto;
}

/* Text */
.t-center {
     text-align:center;
}
.t-bold {
     font-weight:700;
}
.t-normal {
     font-size: 2rem;
}
.t-big {
     font-size: 4rem;
}

/* displays */
.d-block {
     display:block;
}
